<div class="container">
  <div class="row">
    <div class="col-6 mt-3">
      <h3><%= @member.name %>さんの会員編集</h3>

      <%= form_with model: @member, url: admin_member_path(@member.id), method: :patch do |f| %>
          <%= render "admin/shared/error_messages", resource: @member %>

        <table class="table table-borderless">
          <tr>
            <td>会員ID</td>
            <td><%= @member.id %></td>
          </tr>
          <tr>
            <td><%= f.label :プロフィール画像 %></td>
            <td><%= f.file_field :profile_image, accept: "image/*", class: "form-control-file" %></td>
          </tr>
          <tr>
            <td><%= f.label :お名前 %></td>
            <td><%= f.text_field :name, class: "form-control", autofocus: true %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :性別 %></td>
            <td>
              <%= f.radio_button :sex, :male, checked: true %>男性<span>　　</span>
              <%= f.radio_button :sex, :female %>女性
            </td>
          </tr>
          <tr>
            <td><%= f.label :お住まいの都道府県 %></td>
            <td><%= f.text_field :prefectures, class: "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, class: "form-control" %></td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="col-6 mt-5">
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :本名 %></td>
            <td><%= f.text_field :real_name, class: "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :電話番号%></td>
            <td><%= f.text_field :phone_number, class: "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :住所 %></td>
            <td><%= f.text_field :address, class: "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :ご身分証の写真 %></td>
            <td><%= f.file_field :image, accept: "image/*", class: "form-control-file" %></td>
            <td></td>
          </tr>
          <tr>
            <td>本人確認</td>
              <td>
                <%= f.radio_button :identification_status, :true %>
                <%= f.label :確認済み %>
                <%= f.radio_button :identification_status, :false %>
                <%= f.label :未登録 %>
              </td>
          </tr>
          <tr>
            <td>会員ステータス</td>
              <td>
                <%= f.radio_button :is_active, :true %>
                <%= f.label :有効 %>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :退会 %>
              </td>
          </tr>
          <tr>
            <td></td><td></td>
            <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>