<style>
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

.message-content {
  flex-grow: 1;
  margin-left: 10px; /* スペースの幅を調整 */
}
</style>

<div class="container">
  <div class="row">
    <div class="col">

      <h3 id="room-id">Room ID: <%= @room.id %></h3>

      <h3 class="mt-4">メッセージ一覧</h3>
      <ul class="list-group">
        <% @messages.each do |m| %>
          <li class="list-group-item">
            <div class="message-info">
              <span class="member-name"><%= m.member.name %>　</span>
              <span class="message-date"><%= m.created_at.localtime('+09:00').strftime('%Y-%m-%d %H:%M:%S') %></span>
            </div>
            <div class="message-content">
              <%= m.body %>
            </div>
            <div class="message-actions">
              <%= link_to '削除', admin_message_path(m), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "badge badge-danger" %>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<div class="pagination-container">
  <%= paginate @messages %>
</div>