<div class="error-alert"></div>
<div class="container">
  <div class="row">
    <div class="col my-3">
      <!--トークルーム参加者の名前を-->
      <h3><%= link_to @entry.request.member.name, member_path(@entry.request.member) %> と <%= link_to @entry.member.name, member_path(@entry.member) %> のトークルーム</h3>
      　<h6>
      　   ◆依頼内容　計<%= @entry.request.cats.count %>匹　<%= @entry.request.member.prefectures %>　<%= @entry.request.season %>
        　<%= @entry.request.days %>日間
        　<% if @entry.request.location == "home" %>
            自宅に来てもらう
          <% else %>
            相手に預かってもらう
          <% end %>
          <% if @entry.request.memo.present? %>
          　<%= @entry.request.memo %>
          <% end %>
        <h6>

      <ul class="list-group" style="margin-top: 20px;" id="js-messages">
        <!--非同期化通信each文の中にrenderの代わりにcollectionを使用-->
        <%= render partial: "public/messages/message", collection: @messages, as: :m %>
      </ul>

      <%= form_with model: @message, url: messages_path, class: "js-form", local: false do |f| %>
        <%= f.text_field :body, placeholder: "メッセージを入力して下さい", size: 100 %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <!--ページも非同期化通信-->
        <%= hidden_field_tag :page, params[:page] %>
        <br>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-2" id="js-messages-paginate">
    <%= paginate @messages %>
  </div>
</div>