<div class="container">
  <div class="row">
    <div class="col my-3">
      <h3>トークルーム</h3>

      <ul class="list-group" style="margin-top: 20px;">
        <% @messages.each do |m| %>
          <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; margin: 2px;">
            <div class="message-info">
              <span class="member-name"><%= m.member.name %>　</span>
              <span class="message-date"><%= m.created_at.localtime('+09:00').strftime('%Y-%m-%d %H:%M:%S') %></span>
            </div>
            <div class="message-content" style="flex-grow: 1; margin-left: 10px;">
              <%= m.body %>
            </div>
          </li>
        <% end %>
      </ul>

      <%= form_for @message do |f| %>
        <%= f.text_field :body, placeholder: "メッセージを入力して下さい", size: 100 %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <br>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @messages %>
  </div>
</div>