<div class="container">
  <div class="row">
    <%= link_to "　　",admin_session_path, class:"btn" %>
    <div class="mx-auto">
      <%= link_to "ゲストログイン（閲覧用）", members_guest_sign_in_path, class: "btn btn-info btn-sm m-3 sign_in", method: :post %>
    </div>
    <div class="col-10 mx-auto">
      <div class="card">
      <%= image_tag "横クリームIMG_.jpg",class: "card-img" %>

        <div class="m-auto">
          <p class="text-center">Our cats<br>
                              ~皆の猫は私たちの猫~<br>
                              旅行、出張、災害時など<br>
                              いざという時に助け合える仲間と出会えるサイトです<br>

          </p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="mx-auto">
        <h4 class="mt-2">新着猫</h4>
        <div class="d-flex justify-content-around">
          <div class="search-cats d-flex flex-wrap">
            <% @recent_cats.each do |cat| %>
              <div class="search-cat mr-4 ml-4">
                <div>
                  <%= link_to cat_path(cat.id) do %>
                    <%= image_tag cat.image, size: "200x150" %>
                  <% end %>
                </div>
                <div><%= cat.name %></div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="text-right">
          <%= link_to "全ての猫を見る >", cats_path, style: "color: black;" %>
        </div>
      </div>
    </div>
  </div>
</div>