<style>
  table.table tr:first-child th,
  table.table tr:first-child td {
    border-top: none;
  }
</style>

<div class="container">
  <div class="row mt-3">
    <h3><%= @member.name %>さんのマイページ</h3>
  </div>

  <div class="row mt-1 mb-3">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <table class="table">
            <tr>
              <th><%= image_tag @member.get_profile_image, size: "150x150" %></th>
            </tr>
            <tr>
              <th>お名前</th>
              <td><%= @member.name %></td>
            </tr>
            <tr>
              <th>性別</th>
              <td>
                <% if @member.sex == 'male' %>
                  男性
                <% else %>
                  女性
                <% end %>
              </td>
            </tr>
            <tr>
              <th>お住いの都道府県</th>
              <td><%= @member.prefectures %></td>
            </tr>
            <tr>
              <th>家族</th>
            </tr>
          </table>

          <table>
           <!--１行に３つずつ画像を並べる-->
            <% @cats.each_slice(3) do |cat_group| %>
            　<tr>
                <% cat_group.each do |cat| %>
                  <td>
                    <div class="block-link" style="display: block;">
                      <%= link_to cat_path(cat.id) do %>
                        <%= image_tag cat.get_image, size: "180x130" %>
                      <% end %>
                      <div><%= cat.name %></div>
                    </div>
                  </td>
                <% end %>
                <% (3 - cat_group.size).times do %>
                <% end %>
              </tr>
            <% end %>
            <tr>
              <td>
                <% if @member == current_member %>
                  <%= link_to new_cat_path do %>
                    <i class="fa-solid fa-circle-plus fa-3x pl-3 pb-4"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% if @member.email != "guest@example.com" && @member == current_member %>
            <!--ゲストログインじゃないかつ自分のマイページだったら-->
              <tr>
                <td>
                  <%= link_to "プロフィール編集", edit_member_path(@member), class: "btn btn-info edit_member_#{@member.id}" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="col-1"></div>
        <div class="col-3">
          <br><br>
          <h4 class="mb-3">出した依頼</h4>
          <!--リクエストがあれば-->
          <% if @requests.present? %>
              <table>
                <% @requests.each_slice(2) do |request_group| %>
                  <tr>
                    <% request_group.each do |request| %>
                      <td>
                        <!--依頼した猫があれば-->
                        <% if request.cats.present? %>
                          <% cat = request.cats.first %>
                          <%= link_to image_tag(cat.image, size: "180x130"), request_path(request.id) %><br>
                          <!--依頼が完了したら-->
                            <% if request.is_complete == true %>
                              <div class="text-danger">
                                <b>終了</b>
                              </div>
                              <%= request.season %>
                            <% else %>
                              <%= cat.name %><br>
                              <%= request.season %>
                            <% end %>
                        <% else %>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
          <% else %>
          <br>
            <p>出した依頼はありません</p>
          <% end %>
          <br><br><br>

          <!--自分のマイページだったら-->
          <% if @member == current_member %>
            <br>
            <h4 class="mb-3">受ける依頼</h4>
            <!--受けようとしている依頼があれば-->
            <% if @entries.present? %>
              <table>
                <tr>
                  <% @entries.each_slice(2) do |entry_group| %>
                    <tr>
                      <% entry_group.each do |entry| %>
                        <td>
                          <% cat = entry.request.cats.first %>
                          <% if cat %>
                            <%= link_to image_tag(cat.image, size: "180x130"), request_path(entry.request.id) %><br>
                              <% if entry.request.is_complete == true %>
                                <div class="text-danger">
                                  <b>終了</b>
                                </div>
                                <%= entry.request.season %>
                              <% else %>
                                <%= cat.name %><br>
                                <%= entry.request.season %>
                              <% end %>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tr>
              </table>
            <% else %>
              <br>
              <p>受ける依頼はありません</p>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>