<div class="container">
  <div class="row justify-content-center m-2 ">
      <h3>マイページ</h3>

      <div class="container">
        <div class="row justify-content-center m-2 ">
          <%= image_tag @member.get_profile_image, size: "100x100" %>

          <div class="container">
            <div class="row justify-content-center m-2 ">
              <table>
                <thead>
                  <tr>
                    <th>お名前</th>
                    <td><%= @member.name %></td>
                  </tr>
                  <tr>
                    <th>性別</th>
                    <td>
                      <% if @member.sex == 'female' %>
                        女性
                      <% else %>
                        男性
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>都道府県</th>
                    <td><%= @member.prefectures %></td>
                  </tr>
                  <tr>
                    <th>メールアドレス</th>
                    <td><%= @member.email %></td>
                  </tr>
                  <tr>
                    <th>家族</th>
                  </tr>

                  <tr>
                    <% @cats.each do |cat| %>
                      <td>
                        <%= link_to cat_path(cat.id) do %>
                        <table>
                          <tr><td><%= image_tag cat.get_image, size: "90x90" %></td></tr>
                          <tr><td><%= cat.name %></td></tr>
                        </table>
                        <% end %>
                      </td>
                    <% end %>
                    <td>
                      <%= link_to new_cat_path do %>
                         <i class="fa-solid fa-circle-plus fa-3x pl-3 pb-4 "></i>
                      <% end %>
                    </td>
                  </tr>

                </table>
              </thead>
            </table>

      </div>

      <div>
        <%= link_to edit_member_path(current_member), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>

  </div>
</div>