<div class="container">
  <div class="row justify-content-center m-2">
            <h5>依頼</h5>

<div class="container">
  <div class="row justify-content-center m-2">
            <% @requests.each do |request| %>
              <% cat = request.cats.first %>
              <div><%= image_tag cat.image, size:"80x80" %></div>
              <div><%= cat.name %></div>
              <div><%= request.season %></div>
            <% end %>


      <div class="container">
        <div class="row justify-content-center m-2 ">
          <%= image_tag @member.get_profile_image, size: "100x100" %>

          <div class="container">
            <div class="row justify-content-center m-2 ">
              <table>
                <thead>
                  <tr>
                    <th>お名前</th>
                    <td><%= @member.name %></td>
                  </tr>
                  <tr>
                    <th>性別</th>
                    <td>
                      <% if @member.sex == 'female' %>
                        女性
                      <% else %>
                        男性
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>都道府県</th>
                    <td><%= @member.prefectures %></td>
                  </tr>
                  <tr>
                    <th>メールアドレス</th>
                    <td><%= @member.email %></td>
                  </tr>
                  <tr>
                    <th>家族</th>
                  </tr>

                  <tr>
                    <% @cats.each do |cat| %>
                      <td>
                        <%= link_to cat_path(cat.id) do %>
                        <table>
                          <tr><td><%= image_tag cat.get_image, size: "90x90" %></td></tr>
                          <tr><td><%= cat.name %></td></tr>
                        </table>
                        <% end %>
                      </td>
                    <% end %>
                    <td>
                      <%= link_to new_cat_path do %>
                         <i class="fa-solid fa-circle-plus fa-3x pl-3 pb-4 "></i>
                      <% end %>
                    </td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>

        </div>
      </div>

      <div>
        <%= link_to "プロフィール編集", edit_member_path(current_member), class: "btn btn-info btn-block" %>
        <%#= link_to "依頼確認", request_path(@request.id), class: "btn btn-info btn-block" %>
      </div>

  </div>
</div>