<div class="container">
  <div class="row mt-3">
    <h3>お世話依頼</h3>
  </div>

  <div>
      <% if @request.errors.any? %>
        <%= @request.errors.count %>件のエラーが発生しました
        <ul>
          <% @request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <%= form_with model: @request, url: requests_path do |f| %>
        <table class="table table-borderless mt-3">
          <tr>
            <h4><%= f.label :お世話してもらう猫 %><h4>
              <table class="table table-borderless my-2">
                <tr>
                  <% if @my_cats.present? %>
                    <table class="table table-borderless my-2">
                      <% @my_cats.each_slice(4) do |cats| %>
                        <tr>
                          <% cats.each do |cat| %>
                            <td>
                              <%= f.collection_check_boxes :cat_ids, [cat], :id, :name, checked: @my_cats.ids, multiple: true do |b| %>
                                <%= b.label do %>
                                  <table>
                                    <tr><td><%= b.check_box %>
                                    <%= image_tag cat.image, size: "180x120" %></tr></td>
                                    <tr><td><%= cat.name %></tr></td>
                                  </table>
                                <% end %>

                                <% if @request.errors.key?(:cat_ids) %>
                                  <div class="error-message"><%= @request.errors[:cat_ids].first %></div>
                                <% end %>
                              <% end %>
                            </td>
                          <% end %>
                          <% if cats.size < 4 %>
                            <% (4 - cats.size).times do %>
                              <td></td>
                            <% end %>
                          <% end %>
                        </tr>
                      <% end %>
                    </table>
                  <% else %>
                    <td colspan="3">
                      <div class="error-message text-danger">猫のデータが見つかりません。</div>
                    </td>
                  <% end %>
                </tr>
              </table>
          </tr>
        </table>
        <table class="table table-borderless my-2">
          <tr>
            <td><%= f.label :時期 %></td>
            <td><%= f.text_field :season, placeholder: "３月下旬～４月上旬", class: "form-control", required: true %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :日数 %></td>
            <td>
              <div class="input-group">
                <%= f.select :days, options_for_select(1..100), { include_blank: "選択してください" }, class: "form-control", required: true %>
                <span class="input-group-addon">日間</span>
              </div>
            </td>
          </tr>
          <tr>
            <td><%= f.label :場所 %></td>
            <td><%= f.radio_button :location, :home, checked: true %>自宅に来てもらう
                <%= f.radio_button :location, :deposit %>相手に預かって貰う</td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :備考 %></td>
            <td><%= f.text_area :memo, placeholder: "毎日の投薬または急変する可能性のある疾患等あれば記入",class: "form-control", rows:5 %></td>
            <td></td>
          </tr>
        </table>
        <div class="actions text-center m-5">
          <% if @my_cats.present?  %>
            <%= f.submit '依頼する', class: "button btn btn-success btn-lg center-block" %>
          <% else %>
            <%= link_to "猫の登録をする", new_cat_path, class: "btn btn-success btn-lg center-block" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
