<div class="container">
  <div class="row mt-3">
    <h3>依頼詳細</h3>
  </div>

  <div class="row row justify-content-center mt-3">
    <% @my_cats.each do |cat| %>
      <div class="col-3 p-xl-2 mb-3">
         <div><%= image_tag cat.image, size:"200x150" %></div>
         <div><%= cat.name %></div>
      </div>
    <% end %>
  </div>

  <div class = "row justify-content-center mt-3">
    <div class="col-7">
      <table class="table">
          <tr>
            <th>時期</th>
            <td><%= @request.season %></td>
            <td></td>
          </tr>
          <tr>
            <th>日数</th>
            <td><%= @request.days %></td>
            <td></td>
          </tr>
          <tr>
            <th>場所</th>
            <td>
            <% if @request.location == 'home' %>
              自宅に来てもらう
            <% else %>
              預かってもらう
            <% end %>
            </td>
          </tr>
          <tr>
            <th>備考</th>
            <td><%= @request.memo %></td>
            <td></td>
          </tr>

          <tr>
            <% if @request.member_id == current_member.id %>
              <td><%= link_to "編集", edit_request_path(@request.id), class: "btn btn-info btn-block" %></td>
              <td><%= link_to "削除", request_path(@request.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-block" %></td>
              <% @entry_lists.each do |entry| %>
              <td><%= link_to entry.member.name, room_path(entry.room), class: "btn btn-primary btn-block" %></td>
              <% end %>
            <% end %>

            <% unless @request.member_id == current_member.id %>
            <!--もしリクエストした人とログインしている人が違ったら（同じであればボタンは出ない）-->
                <% if @my_entry %>
                <!--さらに、既にルームが有れば-->
                  <td><%= link_to "メッセージを続ける", room_path(@my_entry.room), class: "btn btn-success btn-block" %></td>
                <% else %>
                  <td>
                  <%= form_for @room, url: request_rooms_path(@request) do |f| %>
                    <%= fields_for @entry do |e|%>

                      <% e.hidden_field :member_id, value: @request.member_id %>
                      <!--メンバーidカラムに対してvalue（依頼者のメンバーid）を入れる。次はroomscontrollerへ-->
                    <% end %>
                    <%= f.submit "メッセージを始める", class: "btn btn-success btn-block" %>
                  <% end %>
                  </td>
                <% end %>
            <% end %>
          </tr>
      </table>
      <br>
    </div>
  </div>
</div>
