<div class="container">
  <div class="row row justify-content-center m-2 ">

      <div class='col-md-2'>
        <h3>依頼詳細</h3>

      </div>

    <div class="col-5 p-5">
      <table class="table table-borderless">
          <tr>
            <td>時期</td>
            <td><%= @request.season %></td>
            <td></td>
          </tr>
          <tr>
            <td>日数</td>
            <td><%= @request.days %></td>
            <td></td>
          </tr>
          <tr>
            <td>場所</td>
            <td><%= @request.location %></td>
            <td></td>
          </tr>
          <tr>
            <td>備考</td>
            <td><%= @request.memo %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= link_to "編集", edit_request_path(@request.id), class: "btn btn-info btn-block" %></td>
            <td><%= link_to "削除", request_path(@request.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-block" %></td>
          </tr>
      </table>
    </div>
  </div>
</div>
