<div class="container">
  <div class="row mt-3">
    <h3>依頼詳細</h3>
    <span>　　</span>
      <div id = "bookmark">
        <%= render "public/bookmarks/bookmark", request: @request, bookmark: @bookmark %>
      </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= link_to member_path(@request.member) do %>
        <%= image_tag @request.member.get_profile_image, size: "80x80" %>
      <% end %>
      <p><%= @request.member.name %></p>
    </div>

    <div class="col-9">
      <div class="row justify-content-center">
        <% @my_cats.each do |cat| %>
          <div class="col-3 mx-2 mb-3">
            <div><%= image_tag cat.image, size: "200x150" %></div>
            <div><%= cat.name %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div style="text-align: right;">計<%= @my_cats.count %>匹　　　　　　　　　　　　　　</div>

  <div class = "row justify-content-center mt-3">
    <div class="col-6">
        <% if @request.is_complete == true %>
          <h2>この募集は終了しました</h2>
        <% end %>
      <table class="table">
        <tr>
          <th>時期</th>
          <td><%= @request.season %></td>
          <td></td>
        </tr>
        <tr>
          <th>日数</th>
          <td><%= @request.days %>日間</td>
          <td></td>
        </tr>
        <tr>
          <th>場所</th>
          <td>
          <% if @request.location == 'home' %>
            自宅に来てもらう
          <% else %>
            相手に預かってもらう
          <% end %>
          </td>
        </tr>
        <tr>
          <th>備考</th>
          <td><%= @request.memo %></td>
          <td></td>
        </tr>
      </table>
      <div class="row">
        <!--<ログインしてたら>-->
        <% if member_signed_in? %>
          <!--依頼主だったら-->
          <% if @request.member_id == current_member.id %>
            <!--依頼が完了していなかったら-->
            <% if @request.is_complete == false %>
              <div class="col-6 mb-3">
                <%= link_to "編集", edit_request_path(@request.id), class: "btn btn-info btn-block" %>
              </div>
              <div class="col-6 mb-3">
                <%= link_to "募集を終了", request_path(@request.id), method: :delete, "data-confirm" => "本当に募集を終了しますか？", class: "btn btn-success btn-block" %>
              </div>
            <% end %>
            <!--<依頼を受ける人がいたら>-->
            <% @entry_lists.each do |entry| %>
              <div class="col-4 mb-3">
                <!--その会員の名前がボタンで表示され、トークルームへ遷移-->
                <%= link_to entry.member.name, room_path(entry.room), class: "btn btn-primary btn-block" %>
              </div>
            <% end %>

          <% else %>
          <!--リクエストした人ではなかったら（同じであればボタンは出ない）-->
              <!--さらに、既にルームが有れば-->
              <% if @my_entry %>
                <div class="row mx-auto mb-4">
                  <%= link_to "メッセージを続ける", room_path(@my_entry.room), class: "btn btn-success btn-block" %>
                </div>
              <% else %>
              <!--ルームがなければ-->
              <!--新しいルームとエントリーを作成-->
                <div class="row mx-auto mb-4">
                <%= form_for @room, url: request_rooms_path(@request) do |f| %>
                  <%= fields_for @entry do |e|%>
                    <!--メンバーidカラムに対してvalue（依頼者のメンバーid）を入れる。次はroomscontrollerへ-->
                    <% e.hidden_field :member_id, value: @request.member_id %>
                  <% end %>
                  <!--依頼が完了していなかったら-->
                  <% if @request.is_complete == false %>
                    <%= f.submit "メッセージを始める", class: "btn btn-success btn-block" %>
                  <% end %>
                <% end %>
                </div>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
