<div class="container">
  <div class="row justify-content-center mt-3">
    <h3>依頼詳細</h3>

    <div class="container">
      <div class="row justify-content-center mt-3">
        <table class="table table-borderless">
          <tr>
            <% @my_cats.each do |cat| %>
            <p><%= image_tag cat.image, size:"80x80" %></p>
              <p><%= cat.name %></p>
            <% end %>
          </tr>
        </table>
          <div class="col-5">
            <table class="table table-borderless">
                <tr>
                  <td>時期</td>
                  <td><%= @request.season %></td>
                  <td></td>
                </tr>
                <tr>
                  <td>日数</td>
                  <td><%= @request.days %></td>
                  <td></td>
                </tr>
                <tr>
                  <td>場所</td>
                  <td>
                  <% if @request.location == 'home' %>
                    自宅に来てもらう
                  <% else %>
                    預かってもらう
                  <% end %>
                  </td>
                </tr>
                <tr>
                  <td>備考</td>
                  <td><%= @request.memo %></td>
                  <td></td>
                </tr>
                <tr>
                <% if @request.member_id == current_member.id %>
                  <td><%= link_to "編集", edit_request_path(@request.id), class: "btn btn-info btn-block" %></td>
                  <td><%= link_to "削除", request_path(@request.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-block" %></td>
                  <% @entry_lists.each do |entry| %>
                  <td><%= link_to entry.member.name, room_path(entry.room), class: "btn btn-primary" %></td>
                  <% end %>
                <% end %>

                <%# if current_member.identification_status == true %>

                <% unless @request.member_id == current_member.id %>
                <!--もしリクエストした人とログインしている人が違ったら（同じであればボタンは出ない）-->
                    <% if @my_entry %>
                    <!--さらに、既にルームが有れば-->
                      <td><%= link_to "メッセージを続ける", room_path(@my_entry.room), class: "btn btn-success btn-block" %></td>
                    <% else %>
                      <td>
                      <%= form_for @room, url: request_rooms_path(@request) do |f| %>
                        <%= fields_for @entry do |e|%>

                          <% e.hidden_field :member_id, value: @request.member_id %>
                          <!--メンバーidカラムに対してvalue（依頼者のメンバーid）を入れる。次はroomscontrollerへ-->
                        <% end %>
                        <%= f.submit "メッセージを始める", class: "btn btn-success btn-block" %>
                      <% end %>
                      </td>
                    <% end %>
                <% end %>
                <%# else %>
                  <!--本人確認を登録しましょう。既ににご登録済みの方は２営業日以内に確認致します。お待ちくださいませ。-->
                <%# end %>
                </tr>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
