<div class="container">
  <div class="row mt-3">
    <h3>依頼詳細</h3>
  </div>

  <div class="row">
    <div class="col-2 mx-2">
      <%= link_to member_path(@request.member) do %>
        <%= image_tag @request.member.get_profile_image, size: "80x80" %>
      <% end %>
      <p><%= @request.member.name %></p>
    </div>

    <div class="col-9">
      <div class="row justify-content-center">

        <% @my_cats.each do |cat| %>
          <div class="col-3 mx-2">
            <div><%= image_tag cat.image, size: "200x150" %></div>
            <div><%= cat.name %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "row justify-content-center mt-3">
    <div class="col-6">
        <% if @request.is_complete == true %>
          <h2>この依頼は完了しました</h2>
        <% end %>
      <table class="table">
        <tr>
          <th>時期</th>
          <td><%= @request.season %></td>
          <td></td>
        </tr>
        <tr>
          <th>日数</th>
          <td><%= @request.days %></td>
          <td></td>
        </tr>
        <tr>
          <th>場所</th>
          <td>
          <% if @request.location == 'home' %>
            自宅に来てもらう
          <% else %>
            相手に預かってもらう
          <% end %>
          </td>
        </tr>
        <tr>
          <th>備考</th>
          <td><%= @request.memo %></td>
          <td></td>
        </tr>
      </table>
      <div class="row">
        <% if member_signed_in? %>
          <% if @request.member_id == current_member.id %>
            <% if @request.is_complete == false %>
              <div class="col-6 mb-3">
                <%= link_to "編集", edit_request_path(@request.id), class: "btn btn-info btn-block" %>
              </div>
              <div class="col-6 mb-3">
                <%= link_to "完了", request_path(@request.id), method: :delete, "data-confirm" => "本当に完了しますか？", class: "btn btn-danger btn-block" %>
              </div>
            <% end %>

            <% @entry_lists.each do |entry| %>
              <div class="col-4 mb-3">
                <%= link_to entry.member.name, room_path(entry.room), class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
          <% else %>
          <!--もしリクエストした人とログインしている人が違ったら（同じであればボタンは出ない）-->
              <% if @my_entry %>
              <!--さらに、既にルームが有れば-->
                <div class="row mx-auto mb-4">
                  <%= link_to "メッセージを続ける", room_path(@my_entry.room), class: "btn btn-success btn-block" %>
                </div>
              <% else %>
                <div class="row mx-auto mb-4">
                <%= form_for @room, url: request_rooms_path(@request) do |f| %>
                  <%= fields_for @entry do |e|%>

                    <% e.hidden_field :member_id, value: @request.member_id %>
                    <!--メンバーidカラムに対してvalue（依頼者のメンバーid）を入れる。次はroomscontrollerへ-->
                  <% end %>
                  <%= f.submit "メッセージを始める", class: "btn btn-success btn-block" %>
                <% end %>
                </div>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
