<div class="container">
  <div class="row mt-3">
      <% if @search_count.zero? %>
        <h3>検索結果がありませんでした</h3><br>
      <% else %>
        <h3>検索結果（全<%= @search_count %>件) </h3><br>
      <% end %>
  <div>

  <div class="row m-xl-2">
    <% @search_results.each do |cat| %>
      <div class="col-3 p-xl-2 mb-3">
        <div>
          <%= link_to cat_path(cat) do %>
            <%= image_tag cat.image, size: "230x180" %>
          <% end %>
        </div>
        <div><%= cat.name %></div>
        <div><%= cat.category.name %></div>
        <div><%= cat.introduction %></div>
      </div>
    <% end %>
  </div>
    <div class="d-flex justify-content-center">
      <%= paginate @search_results %>
    </div>
</div>