<div class="container">
  <div class="row">

    <div class="col-10 mt-4">
      <% if @search_count.zero? %>
        <h3>検索結果がありませんでした</h3><br>
      <% else %>
        <h3>検索結果（全<%= @search_count %>件) </h3><br>
      <% end %>
    </div>

    <div class="search-cats d-flex flex-wrap">
      <% @search_results.each do |cat| %>
        <div class="search-item p-xl-2 ml-4 mb-3">
          <div>
            <% if admin_signed_in? %>
              <%= link_to admin_cat_path(cat) do %>
                <%= image_tag cat.image, size: "230x180" %>
              <% end %>
            <% else %>
              <%= link_to cat_path(cat) do %>
                <%= image_tag cat.image, size: "230x180" %>
              <% end %>
            <% end %>
          </div>
          <div><%= cat.name %></div>
          <div><%= cat.category.name %></div>
          <div><%= cat.introduction %></div>
        </div>
      <% end %>
    </div>
      <div class="d-flex justify-content-center">
        <%= paginate @search_results %>
      </div>
  </div>
</div>