<div class="container">
  <div class="row mt-3">
    <h3>依頼一覧（全<%= @request_count %>件）</h3>
  </div>

  <div class="row pl-5 ml-4 mb-3">
    <% @requests.each do |request| %>
      <div class="col-3 p-xl-2 mb-3">
        <div>
          <%= link_to admin_request_path(request.id) do %>
           <%= image_tag request.member.get_profile_image, size:"170x170" %>
          <% end %>
        </div>
        <div><%=  request.season %></div>
        <div><%= request.member.prefectures %></div>
      </div>
    <% end %>
  </div>
    <div class="d-flex justify-content-center">
      <%= paginate @requests %>
    </div>
</div>