<nav class="navbar navbar-expand-lg navbar-light">
  <div class = "container" >

    <%= link_to root_path do %>
      <%= image_tag "2.png", size:"120x120", style: "border-radius: 50%;" %>
    <% end %>

    <div class = "ml-auto">
      <div class="row justify-content-between align-items-center">
        <% if member_signed_in? %>
          <div class="col text-center" style="color: brown;">こんにちは、<%= current_member.name %>さん!</div>

          <%= link_to member_path(current_member), class:"btn m-2", style: "color: brown" do %>
            マイページ <i class="fas fa-user"></i>
          <% end %>

          <%= link_to new_request_path, class:"btn m-2", style: "color: brown" do %>
            お世話を依頼する <i class="fa-solid fa-paw"></i>
          <% end %>

          <%= link_to requests_path, class:"btn m-2", style: "color: brown" do %>
            お世話依頼一覧 <i class="fa-solid fa-list"></i>
          <% end %>

          <%= link_to cats_path, class:"btn m-2", style: "color: brown" do %>
            猫一覧 <i class="fa-solid fa-cat"></i>
          <% end %>

          <%= link_to destroy_member_session_path, method: :delete, class:"btn m-2", style: "color: brown" do %>
            ログアウト <i class="fas fa-sign-out-alt"></i>
          <% end %>

        <% elsif admin_signed_in? %>
          <div class="col text-center mt-1" style="color: brown">
            管理者モードです
          </div>

          <%= link_to admin_members_path, class:"btn m-2", style: "color: brown" do %>
            会員一覧 <i class="fa-solid fa-user"></i>
          <% end %>

          <%= link_to  admin_rooms_path, class:"btn m-2", style: "color: brown" do %>
            ルーム一覧 <i class="fa-solid fa-envelope"></i>
          <% end %>

          <%= link_to admin_requests_path, class:"btn m-2", style: "color: brown" do %>
            お世話依頼一覧 <i class="fa-solid fa-list"></i>
          <% end %>

          <%= link_to admin_cats_path, class:"btn m-2", style: "color: brown" do %>
            猫一覧 <i class="fa-solid fa-cat"></i>
          <% end %>

          <%= link_to destroy_admin_session_path, method: :delete, class:"btn m-2", style: "color: brown" do %>
            ログアウト <i class="fas fa-sign-out-alt"></i>
          <% end %>

        <% else %>
          <%= link_to about_path, class:"btn m-2", style: "color: brown" do %>
            初めての方へ <i class="fas fa-apple-alt"></i>
          <% end %>

          <%= link_to new_member_registration_path, class:"btn m-2", style: "color: brown"  do %>
            新規登録 <i class="fas fa-user-plus"></i>
          <% end %>

          <%= link_to requests_path, class:"btn m-2", style: "color: brown" do %>
            お世話依頼一覧 <i class="fa-solid fa-list"></i>
          <% end %>

          <%= link_to cats_path, class:"btn m-2", style: "color: brown" do %>
            猫一覧 <i class="fa-solid fa-cat"></i>
          <% end %>

          <%= link_to new_member_session_path, class:"btn m-2", style: "color: brown" do %>
            ログイン <i class="fas fa-sign-in-alt"></i>
          <% end %>
        <% end %>
       </div>
        <%= render 'layouts/search' %>
    </div>
  </div>
</div>