<!DOCTYPE html>
<html>
  <head>
    <title>OurCats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/83655083cf.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= render 'layouts/header', room: @room %>
    </header>

    <main style="min-height: 480px;">
      <div class="container">
        <%= content_tag(:div, flash[:error], class: 'alert alert-danger') if flash[:error].present? %>
        <%= content_tag(:div, flash[:notice], class: 'alert alert-success') if flash[:notice].present? %>
      </div>
      <%= yield %>
    </main>

    <footer class="py-5">
      <div class="container">
        <div class="row" style = "color: brown;">
          <h8>お問い合わせはこちら
          <br>neko2@gmail.com</h8>

          <div class="mx-auto" >
            <h8>利用規約｜プライバシーポリシー｜会社概要　　　</h8>
            <h5>　　　　　&copy; OurCats</h5>
          </div>

          <div class="row">
            <div class="mt-4 ml-4" style = "color: brown;" >
              <i class="fab fa-x-twitter" style="font-size: 20px;">  |  </i>
              <i class="fab fa-facebook-f" style="font-size: 20px;">  |  </i>
              <i class="fab fa-instagram" style="font-size: 20px;"></i>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>